%h1 Listing teachers

%table.table.table-striped
  %thead
    %tr
      %th Фамилия
      %th Имя
      %th Отчество
      %th Предметы
      %th
      %th
      %th
      
  %tbody
    - @teachers.each do |teacher|
      %tr
        %td= teacher.third_name
        %td= teacher.first_name
        %td= teacher.second_name
        %td= teacher.disciplines.map { |d| d.name }.join ', '
        %td= link_to 'Show', teacher
        %td= link_to 'Edit', edit_teacher_path(teacher)
        %td= link_to 'Destroy', teacher, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Teacher', new_teacher_path
