%h1 Listing tests

%table.table.table-striped
  %thead
    %tr
      %th Название
      %th Предмет
      %th Класс
      %th Вопросы
      %th
      %th
      %th
      
  %tbody
    - @tests.each do |test|
      %tr
        %td= test.name
        %td= test.discipline.name
        %td= test.grade
        %td= test.questions.count
        %td= link_to 'Show', test
        %td= link_to 'Edit', edit_test_path(test)
        %td= link_to 'Destroy', test, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Test', new_test_path
